<tr>
    <th scope="row">[%id%]</th>
    <td class="mouse-over">[%username%]</td>
    <td>[%email%]</td>
    <td>[%status%]</td>
    <td>[%last_login%]</td>
    <td>[%incorrect_login%]</td>
    <td><a href="?delId=[%id%]"><img class="icon" src="../public/images/bin.png" style="width: 1.2rem"></a></td>
    <td><img class="icon" src="../public/images/arrow-down.png" style="width: 1.2rem; cursor: pointer" id="user[%id%]" onclick="expendField([%id%]);"></td>
</tr>
<tr id="setting[%id%]" class="userField" style="display: none;">
    <td colspan="8">
        <form method="post">
            <div class="text-center mt-4">
                <label>Zmień hasło: </label>
                <input type="password" name="password" placeholder="Wpisz nowe hasło">
                <label class="ml-5">Zmień e-mail: </label>
                <input type="email" value="[%email%]" name="email">
                <label class="ml-5">Zmień status: </label>
                <input type="checkbox" name="status" value="[%status%]">
            </div>
            <div class="pr-3 mb-5">
                <button type="submit" class="site-button float-right" name="userId" value="[%id%]">Zapisz</button>
            </div>
        </form>
    </td>
</tr>