<div class="row mt-4 mt-md-5 font-color-db">
        <h2 class="col-12 font-fam-13 display-4 text-center mt-md-5 title-size">O serwisie ProExpert</h2>
</div>
<div class="row mt-4 mt-md-5 font-color-db">
        <h2 class="col-12 font-fam-14 h4 text-center text-correction subtitle-size">
                [%subtitle%]
        </h2>
</div>
<div class="row mt-4 mt-md-5 font-color-db">
        <p class="col-12 font-fam-14 h5 text-justify text-correction description-size">
                [%content%]
         </p>
</div>
<div class="row mt-5 font-color-db">
        <div class="col-12 font-fam-13 text-right">
                <span class="h3">Zadzwoń i dowiedz się więcej!</span>
        </div>
</div>
