<div class="container-fluid wallpaper pt-4">
    <section class="row pt-4 justify-content-md-around first-home">
        <div class="col-4 col-md-4 ml-5">
            <h1 class="font-fam-13 h1 my-3 mt-md-5" style="color: #F2F1E9">Naprawa AGD
                Toruń</h1>
            <h2 class="font-fam-14 h5 d-block mt-4 pr-md-5" style="color: #F2F1E9">
                Oferujemy profesjonalny serwis AGD w Toruniu i okolicach. Naprawiamy sprzęt wszystkich marek!
            </h2>
            <button class="red-button2 d-block ml-1 mt-4 icon">
                <a style="color: #F2F1E9" href="#">Zamów u nas!</a>
            </button>
        </div>
        <div class="col-5 col-md-7 mt-5" style="position: relative">
            <img src="../public/images/agd/car_right_damian.png" class="car img-fluid">
        </div>
    </section>
    <div class="row"></div>
</div>
<div class="container-fluid mt-4">
    <section class="col-12 brandSlider">
        <div><img src="../public/images/logo/aeglogo.png" style="padding-top: 0.5rem"></div>
        <div><img src="../public/images/logo/amicalogo.png" style="height: 2.8rem; padding-top: 1rem;"></div>
        <div><img src="../public/images/logo/bekologo.png"></div>
        <div><img src="../public/images/logo/boschlogo.png" style="height: 4.1rem"></div>
        <div><img src="../public/images/logo/electroluxlogo.png" style="height: 4rem"></div>
        <div><img src="../public/images/logo/hooverlogo.png"></div>
        <div><img src="../public/images/logo/indesitlogo2.png" style="height: 6rem; margin-top: -1rem"></div>
        <div><img src="../public/images/logo/lglogo.png" style="padding-top: 0.7rem;"></div>
        <div><img src="../public/images/logo/siemenslogo.jpg" style="height: 2.5rem; padding-top: 1rem;"></div>
        <div><img src="../public/images/logo/whirlpoollogo.png" style="height: 3rem; width: 7rem; padding-top: 0.7rem"></div>
    </section>
</div>
<div class="container">
    <section class="row py-4 font-color-db">
        <div class="col-12 my-5">
            <h3 class="h1 font-fam-13 d-block text-center my-3">W ofercie serwisu</h3>
        </div>
        <div class="col-12 col-md-6 pr-4">
            <figure class="background-stuff wallpaper mr-4" style="display: inline-block; width: 8rem; float: left">
                <img src="../public/images/agd/oven.png" alt="obrazek piekarnika">
            </figure>
            <span class="font-fam-13 d-block">Naprawa piekarników</span>
            <p class="font-fam-14">Wymieniamy uszkodzone elementy, między innymi grzałka, wentylator czy termostat.
                Po naprawie dokładnie testujemy urządzenie, aby upewnić się, że działa bezpiecznie i poprawnie.</p>
        </div>
        <div class="col-12 col-md-6 pr-4 mt-4 mt-md-0">
            <figure class="background-stuff wallpaper mr-4" style="display: inline-block; width: 8rem; float: left">
                <img src="../public/images/agd/washingmachine.png" alt="obrazek pralki">
            </figure>
            <span class="font-fam-13 d-block">Naprawa pralek</span>
            <p class="font-fam-14">Naprawa pralek zależy od rodzaju usterki. Najczęściej wymieniamy uszkodzone elementy
                takie jak pompa, uszczelka drzwi, programator czy moduł elektroniczny.
            </p>
        </div>
        <div class="col-12 col-md-6 mt-4 mt-md-5 pr-4">
            <figure class="background-stuff wallpaper mr-4" style="display: inline-block; width: 8rem; float: left">
                <img src="../public/images/agd/dishwasher.png" alt="obrazek zmywarki">
            </figure>
            <span class="font-fam-13 d-block">Naprawa zmywarek</span>
            <p class="font-fam-14">W przypadku zmywarek diagnozujemy usterkę i wymieniamy uszkodzone elementy,
                w tym pompa, uszczelka drzwi, węże lub zbiornik soli.
                Zapewniamy fachową i skuteczną naprawę.
            </p>
        </div>
        <div class="col-12 col-md-6 mt-4 mt-md-5 pr-4">
            <figure class="background-stuff wallpaper mr-4" style="display: inline-block; width: 8rem; float: left">
                <img src="../public/images/agd/stove.png" alt="obrazek indukcji">
            </figure>
            <span class="font-fam-13 d-block">Naprawa płyt indukcyjnych</span>
            <p class="font-fam-14">Przeprowadzamy diagnozę, a następnie dokonujemy naprawy lub wymiany.
                Wymieniamy szkło, moduł zasilania lub sterownika, w zależności od usterki.
            </p>
        </div>
    </section>

    <section class="row my-4 font-color-db">
        <div class="col-12 col-md-3 text-center pt-md-4">
            <span class="h1 font-fam-13">Ponadto:</span>
        </div>
        <div class="col-12 col-md-9 mb-1 mb-md-0">
            <ul class="font-fam-14 repair-icon-list pr-2 pr-md-0">
                <li>podłączenie płyty indukcyjne z podbiciem kart gwarancyjnych,</li>
                <li>oferujemy naprawę modułów elektronicznych zamiast ich kosztownej wymiany,</li>
                <li>sporządzamy ekspertyzy (opinie serwisowe) dla towarzystw ubezpieczeniowych.</li>
            </ul>
        </div>
        <div class="col-12 text-center my-4">
            <span class="font-fam-13 subtitle-size d-block my-3">Nie czekaj...</span>
            <a href="tel:+48666357653" class="col-8 red-button h1 p-2" data-toggle="tooltip"
               data-placement="bottom"
               title="Od poniedziałku do piątku 8:00-16:00">Zadzwoń do nas</a>
        </div>
    </section>
    <section class="row mb-5 advantages font-color-db">
        <div class="col-12 my-5">
            <h3 class="h1 font-fam-13 d-block text-center my-3">Wyróżniamy się na tle konkurencji</h3>
        </div>
        <div class="col-6 col-md-3">
            <img src="../public/images/advantages/people.png">
            <span>20 lat doświadczenia w naprawach sprzętu AGD</span>
        </div>
        <div class="col-6 col-md-3">
            <img src="../public/images/advantages/time.png">
            <span>wielu zadowolonych klientów z naszych usług</span>
        </div>
        <div class="col-6 col-md-3 mt-5 mt-md-0">
            <img src="../public/images/advantages/calendar.png">
            <span>szybka diagnoza i krótkie terminy napraw</span>
        </div>
        <div class="col-6 col-md-3 mt-5 mt-md-0">
            <img src="../public/images/advantages/present.png">
            <span>nieodpłatna diagnoza w przypadku realizacji naprawy</span>
        </div>
    </section>

    <section class="row wallpaper p-4 font-fam-14" style="border-radius: 25px; display: none">
        <div class="col-3">
            <span class="d-block p-1" style="color: #F2F1E9; font-size: 29px">
            Jak skorzystać z naszych usług?
            To banalnie proste!
            </span>
        </div>
        <div class="col-3 text-center">
            <img src="../public/images/photos/calling.jpg" class="img-fluid" style="border-radius: 25px">
            <span style="color: white">Skontaktuj się z nami i poinformuj o usterce</span>
        </div>
        <div class="col-3 text-center">
            <img src="../public/images/photos/kitchen.jpg" class="img-fluid" style="border-radius: 25px">
            <span style="color: white">Nasz serwis dokonuje diagnozy i naprawy sprzętu</span>
        </div>
        <div class="col-3 text-center">
            <img src="../public/images/photos/happy.jpg" class="img-fluid" style="border-radius: 25px">
            <span style="color: white">Ciesz się zaoszczędzonym czasem i pieniędzmi</span>
        </div>
    </section>

    <section class="row my-5 font-color-db">
        <div class="col-12 text-center mt-5">
            <h3 class="h1 font-fam-13 d-block text-center my-3">Nasi klienci mówią o nas!</h3>
            <span class="font-fam-14">Dołącz do grona naszych zadowolonych klientów.</span>
        </div>
    </section>
    <section class="row justify-content-center">
        <div class="opinionSlider col-12 col-md-7">
            <div class="font-fam-14 description-size">
                <div>
                    <img src="../public/images/person.png" class="mx-auto mb-2" style="width: 6rem">
                </div>
                <p class="d-block p-1">Niespotykanie sympatyczne podejście, bardzo fachowa, sprawna i rzeczowa pomoc za
                    rozsądną cenę. Zmywarka Bosch działa jak nowa! Wszystko odbyło się w mgnieniu oka. Od momentu
                    umówienia wizyty, po samą naprawę. Maksymalna ocena to 5 gwiazdek, ale gdyby było można, dalibyśmy
                    drugie tyle. Fachowiec godny polecenia każdemu!</p>
                <a href="https://fixly.pl/profil/h418NfCa" target="_blank" class="float-right">
                    <div class="fixly icon m-1" title="Opinia zasięgnięta z serwisu Fixly.pl">F</div>
                </a>
                <span class="blockquote-footer mb-10">Filip, Toruń</span>
            </div>
            <div class="font-fam-14 description-size">
                <div>
                    <img src="../public/images/person.png" class="mx-auto mb-2" style="width: 6rem">
                </div>
                <p class="d-block p-1">Świetny kontakt, udana diagnoza wstępna przez telefon, na wizycie pan miał ze
                    sobą potencjalnie potrzebne do naprawy pralki elementy. Koszty zgodne z wcześniejszymi prognozami.
                    Polecam.</p>
                <a href="https://fixly.pl/profil/h418NfCa" target="_blank" class="float-right">
                    <div class="fixly icon m-1" title="Opinia zasięgnięta z serwisu Fixly.pl">F</div>
                </a>
                <span class="blockquote-footer mb-3">Henryk, Toruń</span>
            </div>
            <div class="font-fam-14 description-size">
                <div>
                    <img src="../public/images/person.png" class="mx-auto mb-2" style="width: 6rem">
                </div>
                <p class="d-block p-1">Czasowo, cenowo i fachowo - 5 gwiazdek. Pan serwisant uprzejmy, robota szła aż
                    miło patrzeć. Wypisana gwarancja, cena taka jak ustalona, sprzęt działa. Szybko, czysto i sprawnie.
                    Dziękujemy i polecamy!</p>
                <a href="https://fixly.pl/profil/h418NfCa" target="_blank" class="float-right">
                    <div class="fixly icon m-1" title="Opinia zasięgnięta z serwisu Fixly.pl">F</div>
                </a>
                <span class="blockquote-footer mb-4">Katarzyna, Toruń</span>
            </div>
        </div>
    </section>
</div>
</div>
