<div class="row my-md-5">
    <h1 class="col-12 font-fam-13 display-3 text-center my-4 my-md-5 font-color-db title-size">Naprawa AGD Toruń</h1>
    <h2 class="col-12 font-fam-14 h2 text-center d-block mb-4 font-color-db subtitle-size">Oferujemy profesjonalny serwis AGD w Toruniu i okolicach. Błyskawicznie namierzamy przyczyny usterki!</h2>
</div>
<div class="row pb-5 text-center">
    <div class="col-12 my-5">
        <a href="tel:+48666357653" class="red-button h1 p-2" data-toggle="tooltip" data-placement="bottom" title="Od poniedziałku do piątku 8:00-16:00">Zamów u nas!</a>
    </div>
</div>
<div class="row my-md-4">
    <div class="col-6 col-md-3">
        <figure class="householdgoods">
            <img src="public/images/oven.png" alt="piekarnik">
            <figcaption class="font-fam-14">Naprawa pierkanika</figcaption>
        </figure>
    </div>
    <div class="col-6 col-md-3">
        <figure class="householdgoods">
            <img src="public/images/dishwasher.png" alt="zmywarka">
            <figcaption class="font-fam-14">Naprawa zmywarki</figcaption>
        </figure>
    </div>
    <div class="col-6 col-md-3">
        <figure class="householdgoods">
            <img src="public/images/washingmachine.png" alt="pralka">
            <figcaption class="font-fam-14">Naprawa pralki</figcaption>
        </figure>
    </div>
    <div class="col-6 col-md-3">
        <figure class="householdgoods">
            <img src="public/images/stove.png" alt="indukcja">
            <figcaption class="font-fam-14">Naprawa indukcji</figcaption>
        </figure>
    </div>
</div>
<div class="row my-3 my-md-5 font-color-db info-size">
    <div class="col-12 col-md-6">
        <span class="h1 font-fam-13 d-block text-center my-4 my-md-3 subtitle-size">W czym pomożemy?</span>
        <ul class="font-fam-14 home-list description-size">
            <li>naprawa zmywarek, pralek, piekarników, i płyt grzewczych (indukcyjnych oraz ceramicznych),</li>
            <li>naprawa sprzętu m.in. marek Amica, AEG, Beko, Bosch, Electrolux, Hoover, Indesit, LG, Mastercook, Siemens, Whirpool, Zelmer, a także inne!</li>
            <li>podłączenie płyty indukcyjne z podbiciem kart gwarancyjnych,</li>
            <li>oferujemy naprawę modułów elektronicznych zamiast ich kosztownej wymiany,</li>
            <li>sporządzamy ekspertyzy (opinie serwisowe) dla towarzystw ubezpieczeniowych.</li>
        </ul>
    </div>
    <div class="col-12 col-md-6">
        <span class="h1 font-fam-13 d-block text-center my-4 my-md-3 subtitle-size">Jakie są nasze atuty?</span>
        <ul class="font-fam-14 home-list description-size">
            <li>20 lat doświadczenia w naprawach sprzętu AGD,</li>
            <li>wielu zadowolonych klientów z naszych usług,</li>
            <li>szybka diagnoza i krótkie terminy napraw,</li>
            <li>oferowana gwarancja na naprawę,</li>
            <li>nieodpłatna diagnoza w przypadku realizacji naprawy.</li>
        </ul>
    </div>
</div>
<hr class="my-4">
<div class="row my-3 font-color-db">
    <div class="col-12 text-center">
        <span class="h1 font-fam-13 d-block text-center my-3 subtitle-size">Dołącz do grona naszych zadowolonych klientów!</span>
    </div>
</div>
<div class="row text-correction my-3 font-color-db">
    <div class="col-12 col-md-4 font-fam-14 description-size">
        <p>Niespotykanie sympatyczne podejście, bardzo fachowa, sprawna i rzeczowa pomoc za rozsądną cenę. Zmywarka Bosch działa jak nowa!
            Wszystko odbyło się w mgnieniu oka. Od momentu umówienia wizyty, po samą naprawę. Maksymalna ocena to 5 gwiazdek, ale gdyby było można, dalibyśmy drugie tyle. Fachowiec godny polecenia każdemu!</p>
        <span class="blockquote-footer mb-3">Filip, Toruń</span>
    </div>
    <div class="col-12 col-md-4 font-fam-14 description-size">
        <p>Świetny kontakt, udana diagnoza wstępna przez telefon, na wizycie pan miał ze sobą potencjalnie potrzebne do naprawy pralki elementy.
            Koszty zgodne z wcześniejszymi prognozami. Polecam.</p>
        <span class="blockquote-footer mb-3">Henryk, Toruń</span>
    </div>
    <div class="col-12 col-md-4 font-fam-14 description-size">
        <p>Czasowo, cenowo i fachowo - 5 gwiazdek. Pan serwisant uprzejmy, robota szła aż miło patrzeć.
            Wypisana gwarancja, cena taka jak ustalona, sprzęt działa. Szybko, czysto i sprawnie. Dziękujemy i polecamy!</p>
        <span class="blockquote-footer mb-4">Katarzyna, Toruń</span>
    </div>
</div>
<div class="row font-fam-13 my-3">
    <div class="col-12 text-right">
        <a href="https://fixly.pl/profil/h418NfCa" target="_blank" class="text-decoration-none nav-button fixly-link">Więcej pozytywnych opinii znajdziesz pod TYM linkiem na portalu Fixly! Sprawdź!</a>
    </div>
</div>