<div class="row mt-5">
    <div class="col-12 text-center">
        <span class="font-fam-13 font-color-db h3">Logowanie do panelu</span>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <form class="mx-auto" method="post" >
            <div class="form-outline mb-3 mx-auto" style="width: 22rem">
                <input type="text" id="loginForm" class="form-control" name="login"/>
                <label class="form-label font-color-db" for="loginForm">Nazwa użytkownika</label>
            </div>
            <div class="form-outline mb-2 mx-auto" style="width: 22rem">
                <input type="password" id="passwordForm" class="form-control" name="password"/>
                <label class="form-label font-color-db" for="passwordForm">Hasło</label>
            </div>
            <button type="submit" class="mx-auto site-button btn-block mb-5" style="width: 8rem" name="authorization">Zaloguj się</button>
        </form>
    </div>
</div>