@import 'font.css';

/* MAIN */

.background, .navigation {
    background-color: #F2F1E9;
    cursor: default;
}

.font-fam-12 {
    font-family: '12', Arial, sans-serif;
}

.font-fam-13 {
    font-family: '13', Arial, sans-serif;
}

.font-fam-14 {
    font-family: '14', Tahoma, sans-serif;
}

.font-color-db {
    color: #2C2D40 !important;
}

.icon {
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.2);
}

.logo {
    background-image: url("../images/logo.png");
    background-size: cover;
    width: 19em;
    height: 4rem;
    margin: 0.5rem 1rem 1rem 1rem;
}

.nav-button-active {
    text-decoration: underline 2px #2C2D40 !important;
}

.nav-button:hover {
    color: #2C2D40 !important;
}

.l-win {
    width: 20rem !important;
}

/* HOME TEMPLATE */

.arrow {
    width: 0;
    height: 0;
    margin: 0 auto;
    border-top: 40px solid green;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
}

.repair-icon-list {
    list-style-image: url("../images/repair-icon.png");
    margin-top: 1.5rem;
    margin-left: 1.8rem;
    line-height: 2.5rem;
}

.fixly {
    background-color: rgb(251, 207, 40);
    width: 20px;
    height: 20px;
    border: rgb(251, 207, 40);
    border-radius: 50%;
    color: gray;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    margin: 0;
}

.wallpaper {
    background-color: #2C2D40;
    background-image: linear-gradient(287deg, #2C2D40 0%, rgba(45, 41, 86, 1) 100%);
}

.red-button2 {
    font-size: 23px;
    padding: 0.4rem 1.4rem 0.4rem 1.4rem;
    text-decoration: none;
    font-family: '12', Arial, sans-serif;
    color: #F2F1E9;
    border: solid 1px #A6524B;
    border-radius: 25px;
    background: #A6524B;
    background-size: 300%;
    transition: .3s ease-out;
}

a:hover {
    text-decoration: none !important;
}

.red-button {
    text-decoration: none;
    font-family: '12', Arial, sans-serif;
    color: #F2F1E9;
    border: solid 1px;
    border-radius: 15px;
    background: #A6524B;
    background: linear-gradient(to left, #A6524B 50%, #F2F1E9 50%) right;
    background-size: 300%;
    transition: .3s ease-out;
}

.red-button:hover {
    background-position: left;
    border: solid 1px;
    color: #A6524B;
    border-radius: 15px;
    background-color: #F2F1E9;
}

.red-button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 3px solid #A6524B;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 2.5s infinite;
}

.red-button:hover::after, .red-button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}

.householdgoods {
    text-align: center;
}

.householdgoods img {
    width: 8rem;
    height: auto;
}

.householdgoods figcaption {
    margin-top: 0.5rem;
}

.home-list li {
    list-style: circle;
    margin-top: 1.5rem;
    margin-left: 1.8rem;
    line-height: 1.9rem;
}

.text-correction {
    line-height: 2.1rem !important;
}

.brandSlider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brandSlider img {
    width: 6rem;
    margin: 0 auto;
    vertical-align: middle;
}

.brandSlider .slick-arrow, .opinionSlider .slick-arrow {
    display: none !important;
}

.background-stuff {
    padding: 1.5rem;
    border-radius: 30%;
    width: 50%;
}

.background-stuff img {
    width: 100%;
}

.first-home h2 {
    line-height: 38px;
}

    /* COVERAGE TEMPLATE */

.googlemap {
    width: 100%;
}

.advantages img {
    width: 5rem;
    margin-bottom: 1rem;
}

.advantages span {
    display: block;
}

.advantages div {
    text-align: center;
    font-family: '14', Tahoma, sans-serif;
}

/* CONTACT TEMPLATE */

.contact-details li {
    list-style: none;
    line-height: 2.2rem;
}

.contact-details li:nth-child(2) {
    list-style-image: url("../images/contact/time.png");
}

.contact-details li:nth-child(3) {
    list-style-image: url("../images/contact/calendar.png");
}

.contact-details li:nth-child(4) {
    list-style-image: url("../images/contact/phone.png");
}

.contact-details li:nth-child(5) {
    list-style-image: url("../images/contact/email.png");
}

/* PANEL TEMPLATE */

.nav-pills>li>a{
    color: #2C2D40 !important;
    font-family: '12', Arial, sans-serif;
    font-size: 20px;
}

.nav-pills>li>a.active,
.nav-pills>li>a:hover,
.nav-pills>li>a:focus {
    background-color: #2C2D40 !important;
    color: #F2F1E9 !important;
    font-family: '12', Arial, sans-serif;
    font-size: 20px;
}

/* OTHER */

.account-centr {
    margin: 0 auto !important;
    width: 20rem !important;
}

.panel-button {
    border: #2C2D40 solid !important;
    border-radius: 15px !important;
}

.site-button {
    background: #2C2D40 !important;
    color: #F2F1E9 !important;
    font-size: 18px !important;
    border: #2C2D40 solid !important;
    border-radius: 10px !important;
    padding: 0.2rem !important;
    font-family: '12', Arial, sans-serif !important;
}

.site-button:hover {
    background: #F2F1E9 !important;
    color: #2C2D40 !important;
}

.contact-footer {
    list-style: none;
    line-height: 1.7rem;
    font-size: 13px !important;
}

.nav-footer {
    color: rgba(0,0,0,.5);
}

.nav-footer:hover {
    color: #2C2D40;
}

.copyright {
    font-size: 12px !important;
}

.page-animation {
    animation: transitionIn .50s;
}


@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-5deg);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1118px) {
    .nav-number {
        display: none !important;
    }
}

@media (max-width: 800px) {
    .logo {
        width: 15rem;
        height: 2.5rem;
    }

    .red-button {
        font-size: 30px !important;
    }

    @keyframes ring {
        100% {
            width: 200px;
            height: 200px;
            opacity: 0;
        }
    }

    .title-size {
        font-size: 45px !important;
    }

    .subtitle-size {
        font-size: 21px !important;
        line-height: 2rem !important;
    }

    .description-size {
        font-size: 13px !important;
    }

    .householdgoods img {
        width: 5rem;
    }

    .home-list li {
        list-style: circle;
        line-height: 1.5rem;
    }

    .contact-footer {
        font-size: 11px !important;
    }

    .copyright {
        font-size: 8px !important;
    }

    .first-home h1 {
        font-size: 30px; !important;
    }

    .first-home h2 {
        font-size: 15px; !important;
        line-height: 1.2rem; !important;
    }

    .red-button2 {
        font-size: 15px;
        padding: 0.4rem 1.2rem 0.4rem 1.2rem;
    }

    .first-home div {
        box-sizing: unset; !important;
    }
}