[%panel%]

<table class="table table-hover col-12">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nazwa użytkownika</th>
            <th scope="col">E-mail</th>
            <th scope="col">Status</th>
            <th scope="col">Ostatnie logowanie</th>
            <th scope="col">Błędne logowanie</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        [%list%]
    </tbody>
</table>
<div class="col-12 text-right">
    <a href="/agd_w_czystym/index.php/registration"><button type="button" class="site-button">Dodaj nowego użytkownika</button></a>
</div>