<form method="post" class="mt-3">

    <div class="text-right">
        <span><b>Opis pola</b>: [%description%]</span><br/>
        <span><b>Ostatnia zmiana</b>: [%date%]</span>
    </div>

    <textarea name="textEditor">[%text%]</textarea>

    <a style="text-decoration: none" class="float-left" href="/agd_w_czystym/index.php/editor">
        <button type="button" class="site-button btn-block mt-3" style="width: 8rem">Wstecz</button>
    </a>

    <button type="submit" class="float-right site-button btn-block mt-3" style="width: 8rem" name="save" value="[%id%]">Zapisz</button>

    <div class="mb-5">&nbsp</div>
</form>

<script src="../public/js/ckeeditor_config.js"></script>
