<div class="container">
    [%panel%]

    <table class="table table-hover col-12 font-fam-14" style="font-size: 14px">
        <thead>
        <tr>
            <th scope="col">Podstrona do edycji <img src="../public/images/arrow.png"
                                                     style="width: 0.7rem; cursor: pointer"></th>
            <th scope="col">Opis <img src="../public/images/arrow.png" style="width: 0.7rem; cursor: pointer"></th>
            <th scope="col">Ostatnie zmiany <img src="../public/images/arrow.png"
                                                 style="width: 0.7rem; cursor: pointer"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        [%list%]
        </tbody>
    </table>
</div>