<div class="row mt-5">
    <div class="col-12 text-center">
        <span class="font-fam-13 font-color-db h3">Dodaj nowego użytkownika</span>
    </div>
</div>
<div class="row mt-5">
    <div class="col-12">
        <form class="mx-auto" method="post" >
            <div class="form-outline mb-3 mx-auto" style="width: 22rem">
                <input type="text" id="loginRegForm" class="form-control" name="regUsername"/>
                <label class="form-label font-color-db" for="loginRegForm">Nazwa użytkownika</label>
            </div>
            <div class="form-outline mb-3 mx-auto" style="width: 22rem">
                <input type="email" id="emailRegForm" class="form-control" name="regEmail"/>
                <label class="form-label font-color-db" for="emailRegForm">Adres email</label>
            </div>
            <div class="form-outline mb-2 mx-auto" style="width: 22rem">
                <input type="password" id="passwordRegForm" class="form-control" name="regPassword"/>
                <label class="form-label font-color-db" for="passwordRegForm">Hasło</label>
            </div>
            <button type="submit" class="mx-auto site-button btn-block mb-3" style="width: 8rem" name="registration">Zarejestruj</button>
            <a class="mx-auto" style="text-decoration: none; display: block; width: 8rem" href="/agd_w_czystym/index.php/account">
                <button type="button" class="site-button btn-block mb-5" style="width: 8rem">Wstecz</button>
            </a>
        </form>
    </div>
</div>